body{
    background-image: url(../imgs/3407044.jpg);
}
main section{
    margin-top: 10px;
    border-right: 2.5px;
    width: 60%;
    border-left: 2.5px;
    border-color: #0D1B2A;
    color: black;
    height:fit-content;
    text-align: center;
    justify-self: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #0D1B2A;
    padding: 10px 10px 10px 10px;
}

main section h1,h2,h3,h4,h5,h6,p{
    color: white;
}