body{
    background-image: url(../imgs/3407044.jpg);
}

main h1,h2,h3,h4,h5,h6,p{
    color:white;
}

main{
    display: grid;
}

.auth-box_btn{
    display: flex;
    justify-self:center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

#login{
    background-color:   rgb(0, 80, 180);
}

button{
    border-radius: 10px;
    border: 1px;
    background-color: rgb(0, 100, 255);
    color: #f1f1f1;
    width: 100%;
    font-family:"Roboto", sans-serif;
}

button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.input_field{
    margin: 5px 5px 5px 5px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display:flex;
    width:100%;
    height: 30px;
    justify-content: center;
    border-radius: 5px;
}

/* #sign_in{
    display: block;
} */

#sign_up{
    display: none;
}

#nas{
    font-family:  "Lobster", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:black;
}

label{
    margin: 5px 5px 5px 5px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.auth-box_box-rg{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2.5px 2.5px 2.5px 2.5px; 
}

.auth-box_box-rg h2{
    color: black;
}

.auth-box_box-lg{
    margin: 2.5px 2.5px 2.5px 2.5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.auth-box label{
    font-size: 20px;
}

.auth-box h1{
    display: flex;
    justify-self: center;
    font-size: 40px;
}

.auth-box_box{
    display:flex;
    justify-content: space-evenly;
    margin: 10px 10px 10px 10px;
}

.auth-box{
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    display: table-row;
    justify-self: center;
    width: 400px;
    height: 100%;
    border-color: black;
    border-radius: 10px;
    border-style: solid;    
    justify-content: center;
    border:2.5px; 
    align-items: center;
    background-color: blueviolet;
}