footer{
    display: grid;
    grid-template-areas: "info rights copyright";
    justify-content: space-between;
    background-color: #0D1B2A;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 15px 10px 15px;
    width: 100%;
}

footer div{
    display:flex;
    align-items: center;
    color: white;
}

.info {
    display: grid;
    grid-template-areas: 
    "h3" 
    "h4";
}