main div{
    margin-top: 10px;
    border-right: 2.5px groove;
    width: 60%;
    border-left: 2.5px groove;
    border-color: rgb(50, 50, 50);
    color: black;
    height:fit-content;
    text-align: center;
    justify-self: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(50,50,50);
    padding: 10px 10px 10px 10px;
}

.cta-button {
    background-color: #0048ff;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
}

.cta-button:hover {
    background-color: #0035b2;
}

body{
    background-image: url(../imgs/3407044.jpg);
}

main{
    height: 100%;
}

main h1, h2, h3, h4, h5, h6, p{
    color: white;
}