body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FEFAE0; 
    color: #283618; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #FEFAE0;
}

.welcome {
    max-width: 100%;
    background-color: #FFFFFF;
    padding: 32px 200px;
    border-radius: 1rem;
    box-shadow: 0 4px 16px rgba(96, 108, 56, 0.2); 
    border: 1px solid #DDA15E; 
}

.welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #283618;
}

.welcome h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #606C38;
}

.welcome p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #606C38;
}

.welcome button {
    width: 300px;
}

.cta-button {
    background-color: #BC6C25;
    color: #FEFAE0;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #DDA15E; 
}
