body{
    background-image: url(../imgs/3407044.jpg);
}

#vacancies{

    margin: 10px 10px 10px 10px;
}

#vacancies div{
    border-radius: 15px;
    margin: 7.5px 7.5px 7.5px 7.5px;
    display: grid;
    grid-template-areas: 
    "p"
    "h3"
    "a"
    ;
    width: 70%;
    justify-self: center;
    height: 200px;
    background-color: #0D1B2A;
    color:white;
    padding: 10px 10px 10px 10px;
}

#vacancies div div{
    background-color: #0048ff;
    height: 50px;
    width: 100%;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    justify-content: center;
}

#vacancies div div:hover{
    background-color: #0035b2;
}

#vacancies div h3{
    font-size: 30px;
}

#vacancies div p{
    font-size: 15px;
}

#vacancies div a{
    text-decoration: none;
    color:white;
}

.Pages{
    display: grid;
    width: 70%;
    grid-template-areas: 
    "prevBtn2 pageDisplay2 nextBtn2";
    justify-self: center;
    align-items: center;
}

button{
    background-color: #0048ff;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.Pages div{
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    justify-content: center;
    background-color: #0048ff;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
}

button:hover{
    background-color: #0035b2;
}