* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    gap: 32px;
    padding: 0;
    background-color: #FEFAE0;
    color: #283618;
    margin-bottom: 90px;
}

#filters {
    width: 280px;
    padding: 20px;
    height: 500px;
    background-color: #FEFAE0;
    border-radius: 15px;
    border: 1px solid #DDA15E;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 100px 0px 0px;
    box-shadow: 0 2px 5px rgba(96, 108, 56, 0.05);
}

#filters input[type="search"] {
    width: 50%;
    padding: 10px 14px;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.search-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    border: 1px solid #DDA15E;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
}

#search {
    border: none;
    outline: none;
    font-size: 16px;
    color: #606C38;
}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.filter-group label {
    margin-bottom: 5px;
    color: #606C38;
}

.filter-group select {
    padding: 8px 10px;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: #FFFFFF;
    color: #283618;
}

#vacancies {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 15px;
}

#vacancies > div {
    background-color: #FEFAE0;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #DDA15E;
    box-shadow: 0 2px 4px rgba(96, 108, 56, 0.05);
}

.link {
    margin-top: 8px;
    padding: 8px;
    background-color: #BC6C25;
    border-radius: 4px;
    text-align: center;
    color: #FEFAE0;
    font-weight: bold;
    transition: 0.3s ease;
}

.link:hover {
    background-color: #DDA15E;
    color: #283618;
}

.Pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #BC6C25;
    color: #FEFAE0;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #DDA15E;
    color: #283618;
}

#pageDisplay1,
#pageDisplay2 {
    font-weight: bold;
    color: #283618;
}

.container {
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 340px;
    width: 1200px;
}

.size {
    width: 800px;
    margin-top: 20px;
}

@media only screen and (max-width: 1366px) {
    .container {
        width: 1000px;
        margin: 0px 240px;
    }

    .size {
        width: 600px;
    }
}
