* {
    box-sizing: border-box;
}

body{
    background-image: url(../imgs/3407044.jpg);
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.news {
    align-items: center;
}

.section-about {
    height: 640px;
    background: url(../imgs/Industrial_Control_Room.jpeg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
    z-index: -1;
}

.section-about__block {
    width: 420px;
    height: 190px;

    position: absolute;
    top: 54%;
    left: 51%;
    text-align: center;
    padding-top: 15px;
    padding-right: 0px;
}

.section-about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}

.section-about__text {
    font-size: 12px;
    margin: 0;
}

.section-anchor {
    display: flex;
    gap: 2rem;
    font-family: Arial, sans-serif;
    margin: 0px 340px 0px 340px;
}

.section-anchor__links {
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 32px;
    height: 300px;
    background-color: #DEE2E6;
    border: none;
    margin: 0;
}

.section-anchor__links a {
    width: 32px;
    height: 32px;
    color: #3e61f1;
    border: 2px solid #3e61f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    text-decoration: none
}

.section-anchor__links a:hover,
F .section-anchor__links a.active {
    background-color: #3e61f1;
    color: #DEE2E6;
    border: 2px solid #3e61f1;
}

.section-anchor__Container {
    padding: 0px 0px 0px 0px;
    border: 0px;
    background-color: #F8F9FA;
    margin-top: 0px;
    width: 1232px;
}

.section-anchor__Block {
    background-color: #F8F9FA;
    padding: 22px 33px 22px 33px;
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    width: 1200px;
}

.section-anchor__Block_Title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3e61f1;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.section-anchor__Block_Body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-anchor__BlockFirstPeace {
    background-color: #F8F9FA;
    border-radius: 10px;
}

.section-anchor__BlockFirstPeace_Title {
    font-size: 20px;
    font-weight: 600;
    color: #212529;
    border-bottom: 2px solid black;
    width: 40px;
}

.section-anchor__BlockFirstPeace_Body {
    font-size: 15px;
    line-height: 1.6;
    color: #495057;
}

#news div div{
    background-color: #0048ff;
    height: 50px;
    width: 100%;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    justify-content: center;
}
#news div div:hover{
    background-color: #0035b2;
}

#news div h1{
    font-size: 30px;
}

#news div p{
    font-size: 15px;
}

#news div a{
    text-decoration: none;
    color:white;
}

#news div{
    border-radius: 15px;
    margin: 7.5px 7.5px 7.5px 7.5px;
    display: grid;
    grid-template-areas: 
    "h1"
    "p"
    "a"
    ;
    width: 70%;
    justify-self: center;
    height: 200px;
    background-color: #0D1B2A;
    color:white;
    padding: 10px 10px 10px 10px;
}